.logo {
  position: center;
  margin: 20px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 130px;
  color: #0000ff ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 400px;
  margin-top: -30px;
  -webkit-text-stroke: 1px #0065ff;
  -webkit-filter: drop-shadow(2px 2px 20px #0000ff);
  z-index: 20;
}

.windows .logo {
  -webkit-text-stroke: 4px #0050ff;
}

body {
  background-color: #383838;
  font-family: courier;
}

.lib {
  font-size: 20px;
  color: #0050ff;
}

.land{
  font-size: 20px;
  color: #0050ff;
}
